<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_INetworkService" maxBufferPoolSize="26214400"
            maxReceivedMessageSize="26214400">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <!-- AZURE CONFIGURATION 
        <client>
          <endpoint address="net.tcp://07a0922973d44a76b2bfe5fac48c49b4.cloudapp.net:9001/NetworkService" binding="netTcpBinding"
              bindingConfiguration="NetTcpBinding_INetworkService" contract="NetworkServiceReference.INetworkService"
              name="NetTcpBinding_INetworkService" />
        </client>
-->
    <!-- LOCAL CONFIGURATION -->
    <client>
      <endpoint address="net.tcp://localhost:9001/NetworkService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_INetworkService" contract="NetworkServiceReference.INetworkService"
          name="NetTcpBinding_INetworkService" />
    </client>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Mulle.Client.DataServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceTimeouts transactionTimeout="05:05:00" />
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500"
           maxConcurrentInstances="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>